@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
}

/* Css Variables */
:root {
  --b1: #00020e;
}
/* Adding Fonts */
@font-face {
  font-family: GilroyB;
  src: url("./assets/fonts/Gilroy-Black.ttf");
}
@font-face {
  font-family: GilroyL;
  src: url("./assets/fonts/Gilroy-Light.ttf");
}
@font-face {
  font-family: Haroopath;
  src: url("./assets/fonts/haroopath.otf");
}
@font-face {
  font-family: Rastano;
  src: url("./assets/fonts/Rastano.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", GilroyL;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

/* change pc styles here */
@media (min-width: 650px) {
  /* Styling scroll bars */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    /* Width of the scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: transparent;
    /* Background color of the track */
  }

  *::-webkit-scrollbar-thumb {
    background: #444;
    /* Color of the scrollbar thumb */
    border-radius: 0px;
    /* Rounded corners for the thumb */
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #666;
    /* Color of the thumb on hover */
  }
  .offers::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  .offers::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
  }
  .categoryCarousel::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  .categoryCarousel::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    /* Color of the scrollbar thumb */
    border-radius: 10px;
    /* Rounded corners for the thumb */
  }
}

/* google Style Spinner */
/* Spinner */
.goog-te-spinner {
  margin: 2px 0 0 2px;
  animation: goog-te-spinner-rotator 1.4s linear infinite;
  transform: translateY(-50%);
  background: transparent;
}
.goog-te-spinner-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  stroke: #4285f4;
  transform-origin: center;
  animation: goog-te-spinner-dash 1.4s ease-in-out infinite;
  background: transparent;
}
@keyframes goog-te-spinner-rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes goog-te-spinner-dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}

/* Navlinks */
.navlinks:after {
  display: block;
  margin-top: 0.8rem;
  transform: translateY(50%);
  content: "";
  border-bottom: solid 3px #019fb6;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 0% 50%;
}
.navlinks:hover:after {
  transform: scaleX(1);
}

/* Shoes 3D Carousel Component */

.shoes-carousel-container {
  width: 50%;
  position: relative;
  user-select: none;
}
.shoes-carousel-items {
  height: 45vh;
  margin: 50px 0 0;
  position: relative;
  list-style-type: none;
}
.shoes-carousel-items li {
  position: absolute;
  width: 30%;
  height: 50%;
  top: 15%;
  left: 50%;
  cursor: pointer;
  z-index: 1;
  transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.shoes-carousel-items li img {
  width: 100%;
  height: auto;
  transform: scale(1.3) rotate(25deg);
  transition: 0.2s;
}
.shoes-carousel-items li:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(./assets/images/shadow.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: 0.3s;
  opacity: 0.4;
}
.shoes-carousel-items li:hover:after {
  width: 90%;
}

.shoes-carousel-items li.item-1 {
  z-index: 2;
  transform: translateX(-50%) scale(1.5) translate3d(0, 0, 0);
}
.shoes-carousel-items li.item-1 img {
  transform: scale(1.5) rotate(5deg);
}

.shoes-carousel-items li.item-2 {
  z-index: 1;
  transform: translateX(-50%) scale(0.7) translate3d(240%, -10%, 0);
}

.shoes-carousel-items li.item-3 {
  z-index: 0;
  transform: translateX(-50%) scale(0.5) translate3d(180%, -31%, 0);
}

.shoes-carousel-items li.item-4 {
  z-index: 0;
  transform: translateX(-50%) scale(0.5) translate3d(-180%, -31%, 0);
}

.shoes-carousel-items li.item-5 {
  z-index: 0;
  transform: translateX(-50%) scale(0.7) translate3d(-240%, -10%, 0);
}

.shoes-carousel-nav {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 45%;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: none;
  border-left: none;
  background: transparent;
  cursor: pointer;
  z-index: 1;
  transition: all ease 0.2s;
}

.shoes-carousel-nav:active {
  scale: 0.8;
}
.shoes-carousel-nav:hover {
  border-top: 2px solid deepskyblue;
  border-right: 2px solid deepskyblue;
}

.shoes-carousel-nav.next {
  right: -35%;
  transform: rotate(45deg);
}
.shoes-carousel-nav.prev {
  left: -35%;
  transform: rotate(-135deg);
}

.shoes-carousel-navigation-dots {
  position: absolute;
  bottom: -30%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2rem;
  z-index: 2;
}
.shoes-carousel-navigation-dots ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.shoes-carousel-navigation-dots ul li {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  margin: 0 15px;
}

.shoes-carousel-navigation-dots ul li.active {
  background: lightskyblue;
}

@media (max-width: 480px) {
  .shoes-carousel-items {
    height: 25vh;
    margin: 50px 0 0;
  }
  .shoes-carousel-nav {
    height: 20px;
    width: 20px;
  }
  .shoes-carousel-navigation-dots {
    bottom: -5%;
  }
  .shoes-carousel-navigation-dots ul li {
    width: 8px;
    height: 8px;
    margin: 0 10px;
  }
  .shoes-carousel-items li:after {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./assets/images/shadow.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    transition: 0.3s;
    opacity: 0.4;
  }
}

.logo:after {
  content: "";
  background-image: url(./assets/images/cart.gif);
  height: 5rem;
  width: 5rem;
  position: absolute;
  background-repeat: no-repeat;
  background-size: 100% auto;
  top: 50%;
  right: -3.8rem;
  transform: translateY(-50%);
}

.categorybox {
  display: none;
  position: absolute;
  margin-top: 0.9rem;
  width: 100%;
  height: 25rem;
  background: white;
  border-radius: 0.75rem;
  outline: 1px solid hsl(0, 0%, 100%);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.35);
}
.categoryLink:hover .categorybox {
  display: grid;
  animation: rise 0.32s ease forwards;
}

.categorybox:not(:hover) {
  display: grid;
  /* Reverse animation when not hovered */
  animation: fall 0.32s ease-in forwards;
}

@keyframes rise {
  0% {
    transform: translate(-50%, 100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
}
@keyframes fall {
  0% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 100%);
    opacity: 0;
    display: none;
  }
}
/* category box list item styling */
.panel-list-item {
  margin-block: 0.65rem;
  cursor: auto;
}
.panel-list-item a {
  color: hsl(0, 0%, 47%);
  font-weight: 400;
  transition: all ease 0.2s;
}
.panel-list-item a:hover {
  color: deepskyblue;
}
.panel-list-item img {
  border-radius: 0.5rem;
}
.menu-title a {
  color: hsl(0, 0%, 27%);
}

.navlinkDropDown {
  position: absolute;
  display: none;
  margin-top: 0.9rem;
  width: 200px;
  height: 10rem;
  padding: 1.35rem;
  background: white;
  border-radius: 0.5rem;
  outline: 1px solid hsl(0, 0%, 100%);
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.35);
  box-shadow: 0 3px 5px hsla(0, 0%, 0%, 0.35);
}
.navlinkDropDown a {
  margin: 0.25rem;
  font-weight: 500;
  color: hsl(0, 0%, 47%);
  transition: all ease 0.2s;
}
.navlinkDropDown a:hover {
  color: deepskyblue;
}
.navlinkHoverGrp:hover .navlinkDropDown {
  display: flex;
  flex-direction: column;
  animation: rise 0.32s ease forwards;
}

.navlinkDropDown:not(:hover) {
  display: flex;
  flex-direction: column;
  /* Reverse animation when not hovered */
  animation: fall 0.32s ease-in forwards;
}

.cta {
  background-image: url("./assets/images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  background-size: cover;
  overflow: hidden;
}
.offer1,
.offer2,
.offer3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.offer1 {
  background-image: url("./assets/images/sale2.png");
}
.offer2 {
  background-image: url("./assets/images/sale1.png");
}
.offer3 {
  background-image: url("./assets/images/sale3.png");
}

.newProductCard:hover .newProductCardOptions {
  display: flex;
  flex-direction: column;
  animation: slidein 0.12s ease forwards;
}
.newProductCardOptions {
  display: none;
  top: 1rem;
  right: 1rem;
}
.newProductCardOptions:not(:hover) {
  animation: slideout 0.2s ease-in forwards;
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slideout {
  0% {
    display: flex;
    transform: translateX(0%);
  }
  50% {
    display: flex;
    transform: translateX(0%);
  }
  100% {
    display: flex;
    transform: translateX(180%);
  }
}

/* Accordian CSS */
.ReactCollapse--collapse {
  transition: height 500ms;
}

@keyframes longfade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Mobile Bottom Navigation */
.bottom_mobile_nav {
  box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.25);
}

/* Mask  */
.maskContainer {
  -webkit-mask-image: url("./assets/images/bottle.png");
  mask-image: url("./assets/images/bottle.png");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.maskWrapper:after {
  content: "";
  background-image: url(./assets/images/bottle-shadow.png);
  background-repeat: no-repeat;
  height: 100px;
  scale: 2;
  right: 50px;
  bottom: -110px;
  rotate: -2deg;
  width: 100%;
  opacity: 60%;
  position: absolute;
  background-size: contain;
  transform: translateX(50%);
}

/* Products page */

.productList::-webkit-scrollbar {
  width: 8px;
  height: 5px;
}
.productList::-webkit-scrollbar-thumb:hover {
  background: #000;
}
.productList::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  transition: all ease 0.23s;
  /* Color of the scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners for the thumb */
}

/* Mobile Styles */

@media (max-width: 767px) {
  .logo:after {
    display: none;
  }
  #root:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 15%;
    width: 40%;
    background-image: url(./assets/images/starsfalling.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: longfade 10s ease infinite alternate;
  }
  .maskWrapper:after {
    bottom: -125px;
  }
  .cartItems:last-child {
    margin-bottom: 7rem;
  }
}

.stripes {
  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}
