@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 200%;
}

/* Adding Fonts */
@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', Gilroy;
}

#root{
  width: 100%;
  height: 100%;
}

/* change pc styles here */
@media (min-width: 650px) {
  /* Styling scroll bars */
  *::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
  }

  *::-webkit-scrollbar-track {
    background: #1e1e1e;
    /* Background color of the track */
  }

  *::-webkit-scrollbar-thumb {
    background: #444;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #666;
    /* Color of the thumb on hover */
  }
}

/* google Style Spinner */
/* Spinner */
.goog-te-spinner {
  margin: 2px 0 0 2px;
  animation: goog-te-spinner-rotator 1.4s linear infinite;
  transform: translateY(-50%);
  background: transparent;
}
.goog-te-spinner-path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  stroke: #4285f4;
  transform-origin: center;
  animation: goog-te-spinner-dash 1.4s ease-in-out infinite;
  background: transparent;
}
@keyframes goog-te-spinner-rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}
@keyframes goog-te-spinner-dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
